div.image-holder img {
	width: 100%;
}

.full-width {
	width:100%;
}

.centered {
	margin: 0 auto;
}

#map_canvas { 
	height: 200px;
	width: 100%;
}

.tabbed_content { 
	display: none;
}

.btn-float {
	float: left;
	margin-right: 1em;
}
