div.image-holder img {
	width: 100%;
}

.full-width {
	width:100%;
}

.centered {
	margin: 0 auto;
}

#map_canvas { 
	height: 200px;
	width: 100%;
}

.tabbed_content { 
	display: none;
}

.btn-float {
	float: left;
	margin-right: 1em;
}

iframe.doc_preview {
	width: 100%;
	height: 400px;
}

.alert {
	text-align: center;
}

th {
	text-align: left;
}

.gap_above {
	margin-top: 2em;
}

p.small_font {
	font-size: small;
}

.carousel-caption h4,
.carousel-caption p {
  color: #ffffff;
}

ul.users_list {
	list-style: none;
}
