/* 
    Document   : uninotes
    Created on : 01-Feb-2012, 20:16:33
    Author     : g
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#header a {
	color: #FFF !important;
}

#header h1 {
	background-image: none;
}

#header img#logo {
	margin-right: 2em;
}

#header #navlinks {
	text-align: left;
	float: left;
	width: 49%;
}

#header #login {
	text-align: right;
	float: right;
	width: 49%;
}

#content {
	margin-top: 1em;
}

#content h1 {
	font-size: large
}

#content .related.links, .related.documents {
	width: 50%;
}

#content #breadcrumbs {
	padding: 1em;
}

#content #innerContent {
	margin: 0 auto;
	width: 80%;
}

#content #home h1 { 
	text-align: center;
}

#content #home p { 
	padding-top: 1em;
}

ul.inline-headings{
  display:inline-block;
}
ul.inline-headings li {
    display: inline-block;
}

/*Overide built-in positioning of Actions navbar*/
div.form, div.index, div.view {
	float: left !important;
}

div.actions {
	float: right !important;
}
