/* 
Document   : uninotes
Created on : 01-Feb-2012, 20:16:33
Author     : g
Description:
Purpose of the stylesheet follows.
 */

root { 
	display: block;
}	

.link_button {
	background: -moz-linear-gradient(center top , #F1F1D4, #E6E49F) repeat scroll 0 0 #E6E49F;
	border: 1px solid #AAAC62;
	border-radius: 8px 8px 8px 8px;
	color: #333333;
	font-weight: normal;
	min-width: 0;
	padding: 4px 8px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
}

#header a {
	color: #FFF !important;
}

#header h1 {
	background-image: none;
}

#header img#logo {
	margin-right: 2em;
}

#header #navlinks {
	text-align: left;
	float: left;
	width: 49%;
}

#header #login {
	text-align: right;
	float: right;
	width: 49%;
}

#content {
	margin-top: 1em;
}

#content h1 {
	font-size: large
}

#content #breadcrumbs {
	padding: 1em;
}

#content #innerContent {
	margin: 0 auto;
	width: 80%;
}

#content #home h1 { 
	text-align: center;
}

#content #home p { 
	padding-top: 1em;
}

#content #gdocs_preview {
	float:right;
	width: 500px;
}

#content .related .link_button {
	float: right;
}

ul.inline-headings{
	display:inline-block;
}
ul.inline-headings li {
	display: inline-block;
}

/*Overide built-in positioning of Actions navbar*/
div.form, div.index, div.view {
	float: left !important;
	border-left: none !important;
}

div.actions {
	float: right !important;
}
